.page-title:has(+ .category-title){
    margin-bottom: 0!important;
}

.category-title{
    text-align: center;
    margin-top: 0vh;
    font-size: 4.5rem;
    color: var(--screamin-green)
}

.project:has(+ .category-title){
    border-bottom: 4px solid var(--crayola);
    padding-bottom: 5vh;
}

@media screen and (max-width: 768px) {
    .category-title{
        font-size: 2.5rem;
    }
    
}

